* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  width: 100%;
  height: 100%;
}

.fundo {
  height: 100vh;
  width: 100vw;
  background-image: url(/img/fundo-certificado.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

img {
  position: relative;
  z-index: 43;
  user-select: none;
  margin: 100px 0px;
}
