.pagina1 {
  display: flex;
  width: 25%;
  position: relative;
  z-index: 1;
  height: 100%;
  justify-content: right;
}

.imagem1 {
  content: " ";
  background-image: url(/img/pagina-esquerda.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  min-height: 90%;
  min-width: 90%;
  top: 13%;
}

/* NÃO MEXER DAQUI PRA CIMA 👍 */

.folha-1 .titulo {
  font-family: "Pixel-Art";
  text-align: center;
  margin-bottom: 33px;
}

.folha-1 {
  display: flex;
  flex-direction: column;

  padding-left: 75px;
  padding-top: 56px;
}
