/*  LIVRO  */

.livro {
  width: 950px;
  height: 675px;
  padding: 43px 53px 69px 40px;
  background-image: url(../img/LivroComission.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.livro .pagina.esquerda {
  padding-left: 40px;
  padding-top: 59px;
  padding-right: 32px;
}
.livro .pagina.direita {
  padding-top: 31px;
  padding-left: 58px;
  padding-right: 10px;
}
/* Padding que faltou na .pagina.esquerda pois a distancia da direita para a esquerda são diferentes, a arte não é simetrica*/

.livro .pagina {
  width: 50%; /* aqui estou dividindo o livro em 2 paginas */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding para conseguir alinhar o conteudo as normas do caderno */
  font-size: 1rem;
  font-family: "Pixel-Art";
  gap: 16px;
  color: #3a181a;
}

.tituloe {
  margin-bottom: 7px;
}
.paragrafos {
  flex-direction: column;
  gap: 15px;
  /* Gap EXATO para cada texto se enquadradar certinho na linha do cardeno */
}

.p1,
.p2,
.p3 {
  line-height: 14.3px;
}

/* Coloquei ele assim para conseguir dividir a linha com o texto */
.adesivo {
  display: flex;
  justify-content: right;
}

.video-game {
  width: 130px;
  align-items: flex-end;
}

/* PAGINA 2 CONTEUDO 😳 */

.titulo2 {
  margin-top: 28px;
}
.divisaopagina {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*  cortei em 2 colunas para arrumar melhor */
  position: relative;
  /* Relative por conta dos adesivos */
  margin-bottom: 35px;
  justify-items: center;
}

.divisaopagina a {
  height: 0.1px;
}

.igast {
  max-width: 130px;
  /* Aqui estou arrumando a coluna/linha no qual a imagem do certificado irá ficar:  */
  grid-row: 1/4;
  grid-column: 2/4;
}

.detalhe1 {
  position: absolute;
  height: 80px;
  width: 80px;
  right: -10px;
  top: -10px;
  /* Apenas um detalhe bonitinho 
  Por mais que eu esteja evitando usar absolute, alguns detalhes ficam mais bonitinhos com*/
}

.gast {
  line-height: 14.3px;
  padding-top: 13px;
  width: 95%;
}

/* Eu dividi em .gast e .gast2 para ficar mais facil de alinhar texto a linha*/
.gast2 {
  width: 95%;
}

/* =---------------------------------------= */

.ihtml {
  /* Aqui estou arrumando a coluna/linha no qual a imagem do certificado irá ficar:  */
  max-width: 130px;
  grid-row: 1/4;
  grid-column: 1/2;
  margin-left: 10px;
}

.detalhe2 {
  position: absolute;
  height: 80px;
  width: 80px;
  left: -12px;
  top: -13px;
  /* Apenas um detalhe bonitinho 
  Por mais que eu esteja evitando usar absolute, alguns detalhes ficam mais bonitinhos com*/
}

.htmlcss {
  padding-top: 13px;
  width: 95%;
  line-height: 14.6px;
  /* coloquei 95% para alinhar a imagem */
}

/* ----- SETA ------ */

.d-seta {
  display: flex;
  flex-direction: row-reverse;
  /* usei o row-reverse para colocar a seta no fim */
  width: 100%;
}
.seta {
  height: 40px;
}

.seta:hover {
  border: 2px transparent solid;
}
/* apenas um detalhe para dar um sutil detalhe de botao  */
