@media (max-width: 1400px) {

  /*  LIVRO  */

  .livro {
    width: 700px;
    height: 450px;
    padding: 17px 40px 36px 33px;
  }

  .livro .pagina {
    font-size: 0.81rem;
    gap: 10px;
  }

  .livro .pagina.esquerda {
    padding-left: 31px;
    padding-top: 23px;
    padding-right: 20px;
  }
  .livro .pagina.direita {
    padding-top: 18px;
    padding-left: 38px;
    padding-right: 15px;
  }

  .paragrafos {
    gap: 8px;
  }
  .p1,
  .p2 {
    line-height: 12px;
  }
  .p3 {
    line-height: 11.5px;
  }
  .video-game {
    width: 110px;
  }

  /* PAGINA 2 CONTEUDO 😳 */
  .divisaopagina {
    padding-top: 7px;
    row-gap: 3px;
    margin-bottom: 20px;
  }

  .igast {
    max-width: 110px;
    justify-self: end;
  }

  .detalhe1 {
    height: 60px;
    width: 60px;
    right: -20px;
    top: -10px;
  }

  .gast {
    padding-left: 5px;
    padding-top: 14.5px;
    width: 95%;
  }
  .gast2 {
    padding-left: 5px;
    padding-top: 7px;
    width: 95%;
  }

  /* PAGINA 2 parte 2  */

  .ihtml {
    max-width: 110px;
  }

  .detalhe2 {
    height: 60px;
    width: 60px;
    left: -10px;
    top: -10px;
  }

  .htmlcss {
    padding-top: 22px;
    width: 95%;
  }

  .seta {
    height: 30px;
  }

  /* INDEX 2 ~~~~~~~~~~~~~~~~~~~~  */
  .d-seta2 {
    display: flex;
    height: 65%;
    flex-direction: row;
    align-items: flex-end;
    /* usei o row-reverse para colocar a seta no fim */
    width: 100%;
  }
  .seta2 {
    height: 30px;
    margin-top: 15px;
  }
}

@media (max-width: 1000px) {
  /*  LIVRO  */

  .livro {
    width: 500px;
    height: 360px;
    padding: 10px 20px 36px 33px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .livro .pagina {
    font-size: 0.81rem;
    gap: 10px;
  }

  .livro .pagina.esquerda {
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 23px;
  }
  .livro .pagina.direita {
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .p1,
  .p2 {
    line-height: 8.5px;
    font-size: 0.6rem;
  }
  .p3 {
    line-height: 8.3px;
    font-size: 0.6rem;
  }
  .video-game {
    width: 80px;
  }

  /* PAGINA 2 CONTEUDO 😳 */
  .divisaopagina {
    padding-top: 7px;
    row-gap: 3px;
    margin-bottom: 5px;
  }

  .igast {
    max-width: 75px;
    justify-self: end;
  }

  .detalhe1 {
    height: 40px;
    width: 40px;
    right: -10px;
    top: -5px;
  }

  .gast {
    padding-left: 5px;
    padding-top: 18px;
    width: 95%;
    font-size: 0.6rem;
    line-height: 8.4px;
  }
  .gast2 {
    padding-left: 5px;
    padding-top: 5.5px;
    width: 95%;
    font-size: 0.6rem;
    line-height: 8.4px;
  }

  /* PAGINA 2 parte 2  */

  .ihtml {
    max-width: 75px;
    margin-right: 10px;
  }

  .detalhe2 {
    height: 40px;
    width: 40px;
    left: 0px;
    top: -4px;
  }

  .htmlcss {
    padding-top: 22px;
    width: 95%;
    font-size: 0.6rem;
    line-height: 8.4px;
  }

  .seta {
    height: 25px;
    margin-left: 10px;
  }

  /* INDEX 2 ~~~~~~~~~~~~~~~~~~~~  */

  .d-seta2 {
    display: flex;
    height: 65%;
    flex-direction: row;
    align-items: flex-end;
    /* usei o row-reverse para colocar a seta no fim */
    width: 100%;
    margin: 0px;
  }
  .seta2 {
    height: 25px;
    margin-bottom: 4px;
  }
}

