@media (max-width: 1350px) {
  .lado-esquerdo {
    width: 25%; /* antes era 30% */
  }

  .lado-direito {
    width: 60%; /* antes era 65% */
  }

  .person .minha-foto {
    width: 28%; /* antes era 30% */
    height: 25%; /* antes era 30% */
    margin: 0px; /* antes era 10px */
    margin-top: 60px; /* antes era 40px */
  }

  .person .descricao {
    max-width: 15ch; /* antes era 20ch */
  }

  .titulo {
    margin-top: 10px; /* antes não tinha */
    font-size: 1.3rem; /* antes era 1.7rem */
  }

  .sobre {
    font-size: 0.8rem; /* antes era 0.93rem */
  }

  /* Caixanihas de HTML, CSS E JS */

  .caixinha {
    height: 40px; /* antes era 60px */
    margin-top: -8px; /* antes era 20px */
    margin-left: 40px; /* antes era inexistente */
  }

  /* Botões de Linkedin, GitHub e Projetos */

  .lista {
    width: 80%; /* antes era 100% */
    height: 150px; /* antes era 200px */
  }

  .organizar {
    gap: 10px; /* antes era de 20px */
  }

  .i-link {
    font-size: 1.125rem; /* antes era de 1.3rem */
  }

  .i-link img {
    max-width: 30px; /* antes era de 35px */
  }

  /* LIVRO */

  .livro {
    width: 850px; /* antes era 950px */
    height: 606px; /* antes era 675x */
    background-image: url(../img/LivroComissionSemLinha.png);
    padding: 0px 0px 0px 0px; /* antes era 43px/53px/69px/40px */
  }

  .livro .pagina.esquerda {
    padding-left: 50px; /* antes era 40px */
    padding-top: 159px; /* antes era  59px */
    padding-right: 20px; /* antes era  32px */
  }
  .tituloe,
  .titulo2 {
    margin-bottom: 2px;
    font-size: 1.532rem; /* antes era 2rem */
  }
  .paragrafos,
  .adesivo {
    font-size: 0.9rem; /* antes era 1rem */
  }

  .video-game {
    width: 30%; /* antes era 130px */
  }

  .livro .pagina {
    gap: 16px; /* antes era 16px */
  }

  /* ----- SETA ------ */
  .seta2 {
    height: 30px; /* antes era 40px */
    margin-bottom: 100px; /*antes não tinha*/
  }
}

@media (max-width: 1024px) {
  body {
    width: 96vw;
  }

  .person .minha-foto {
    width: 25%; /* antes era 30% */
    height: 25%; /* antes era 30% */
    margin: 0px; /* antes era 10px */
    margin-top: 65px; /* antes era 40px */
  }

  .titulo {
    margin-top: 25px; /* antes não tinha */
    font-size: 1rem; /* antes era 1.7rem */
  }

  .sobre {
    font-size: 0.7rem; /* antes era 0.93rem */
    margin-top: 4px; /* antes era 10px */
  }

  /* Caixanihas de HTML, CSS E JS */

  .caixinha {
    height: 35px; /* antes era 60px */
    margin-top: 10px; /* antes era 20px */
    margin-left: 40px; /* antes era inexistente */
  }

  /* Botões de Linkedin, GitHub e Projetos */

  .lista {
    width: 80%; /* antes era 100% */
    height: 150px; /* antes era 200px */
  }

  .organizar {
    gap: 8px; /* antes era de 20px */
  }

  .i-link {
    font-size: 1rem; /* antes era de 1.3rem */
  }

  .i-link img {
    max-width: 25px; /* antes era de 35px */
  }

  /* LIVRO */

  .tituloe,
  .titulo2 {
    margin-bottom: 4px;
    font-size: 1.3rem;
  }
  .gast,
  .gast2,
  .htmlcss,
  .paragrafos,
  .adesivo {
    font-size: 0.8rem;
  }
  .livro .pagina.esquerda {
    padding-left: 46px; /* antes era 40px */
    padding-top: 175px; /* antes era  59px */
    padding-right: 26px; /* antes era  32px */
  }
}
